<script setup lang="ts">
import { ref, defineEmits } from "vue";

const emit = defineEmits(["addTodo"]);
const text = ref("");
const addTodo = () => {
  emit("addTodo", text.value);
};
</script>

<template>
  <v-expansion-panels>
    <v-expansion-panel bg-color="grey">
      <v-expansion-panel-title>
        Add new todo
        <template v-slot:actions>
          <v-icon color="success" icon="fa-plus"> </v-icon>
        </template>
      </v-expansion-panel-title>
      <v-expansion-panel-text>
        <v-textarea
          v-model="text"
          solo
          name="input-7-4"
          label="Add todo here"
        ></v-textarea>
        <v-btn @click="addTodo">Add</v-btn>
      </v-expansion-panel-text>
    </v-expansion-panel>
  </v-expansion-panels>
</template>
