<template>
  <v-container>
    <v-layout>
      <v-app-bar color="grey">
        <div class="d-flex align-left w-100">
          <v-btn>Todo App From Rajeev</v-btn>
        </div>
        <div class="d-flex align-right justify-right w-100">
          <v-select v-model="userId" :items="[1, 2, 3, 4, 5]"></v-select>
        </div>
      </v-app-bar>
      <v-main>
        <ToDoList
          :todos="todoState.todoList"
          @action="todoActions"
          :key="todoState.componentKey + 1"
        />
        <br />
        <ToDoList
          :todos="todoState.completedTodos"
          @action="todoActions"
          :key="todoState.componentKey + 2"
        />
        <AddToDo @add-todo="addTodo"></AddToDo>
      </v-main>
    </v-layout>
  </v-container>
</template>

<script setup lang="ts">
import { reactive, onMounted, nextTick, watch, ref } from "vue";
import ToDoList from "./ToDoList.vue";
import AddToDo from "./AddToDo.vue";
import { todoItem } from "./todoTypes";

const todoState = reactive<{
  todoList: todoItem[];
  completeList: todoItem[];
  completedTodos: todoItem[];
  componentKey: string;
}>({
  todoList: [],
  completeList: [],
  completedTodos: [],
  componentKey: "",
});

const userId = ref(1);

onMounted(async () => {
  let todoItems = [];
  if (
    sessionStorage.getItem("todoList") === null ||
    sessionStorage.getItem("todoList") === "[]"
  ) {
    const response = await fetch("https://jsonplaceholder.typicode.com/todos");
    todoItems = (await response.json()).map((todoItem: any) => {
      const newTodo: todoItem = {
        text: "",
        id: 1,
        user: 1,
        completed: false,
      };
      newTodo.text = todoItem.title;
      newTodo.id = todoItem.id;
      newTodo.user = todoItem.userId;
      newTodo.completed = todoItem.completed;
      return newTodo;
    });
  } else {
    todoItems = JSON.parse(sessionStorage.getItem("todoList") ?? "");
  }
  filterTodoList(todoItems);
  todoState.completeList = todoItems;
});

watch(userId, () => {
  filterTodoList(todoState.completeList);
});

const filterTodoList = (todoItems: todoItem[]) => {
  console.log("beforeUpdate");
  todoState.completeList = todoItems;
  todoState.todoList = todoItems.filter((todoItem: todoItem) => {
    return !todoItem.completed && todoItem.user === userId.value;
  });
  todoState.completedTodos = todoItems.filter((todoItem: todoItem) => {
    return todoItem.completed && todoItem.user === userId.value;
  });
  console.log(todoState.todoList);
  sessionStorage.setItem("todoList", JSON.stringify(todoItems));
};

const todoActions = (itemDetails: any) => {
  filterTodoList(todoState.completeList);
};

const addTodo = (text: string) => {
  const todoItem = {
    id: todoState.completeList.length + 1,
    user: userId.value,
    text: text,
    completed: false,
  };
  todoState.completeList.push(todoItem);
  filterTodoList(todoState.completeList);
};
</script>
