<script setup lang="ts">
import {
  reactive,
  onMounted,
  onUpdated,
  defineProps,
  watch,
  defineEmits,
  nextTick,
} from "vue";
import "./ToDoStyles.scss";
import draggable from "vuedraggable";

const props = defineProps(["todos"]);
const emit = defineEmits(["action"]);

const listState = reactive<{
  todoList: object[];
}>({
  todoList: [],
});

onMounted(() => {
  listState.todoList = props.todos;
});

onUpdated(() => {
  nextTick(() => {
    listState.todoList = props.todos;
    console.log("Updated");
  });
});

watch(
  props.todos,
  () => {
    nextTick(() => {
      console.log(listState.todoList);
      //emit("action", listState.todoList);
    });
  },
  { deep: true }
);

const updateTodoList = () => {
  nextTick(() => {
    console.log(listState.todoList);
    emit("action", listState.todoList);
  });
};
</script>

<template>
  <v-card
    class="mx-auto"
    variant="outlined"
    height="200px"
    style="overflow-y: auto"
  >
    <draggable
      v-model="listState.todoList"
      @start="true"
      @end="false"
      item-key="id"
    >
      <template #item="{ element }">
        <div class="">
          <v-icon icon="fas fa-bars grabbable" />
          <input
            type="checkbox"
            v-model.lazy="element.completed"
            :value="element.completed"
            :id="element.id"
            @change="updateTodoList"
          />
          <label :for="element.id">{{ element.text }}</label>
        </div>
      </template>
    </draggable>
  </v-card>
</template>
